<div class="error-container">
    <div class="error-code">404</div>
    <div class="error-message">Congratulations! You found something that doesn't exist! If somehting should be here, better contact the administrator fast!</div>
    <a href="/" class="btn btn-primary back-btn">Back to Home</a>
</div>

<style>    

    .error-container {
        text-align: center;
    }

    .error-code {
        font-size: 100px;
        font-weight: bold;
        margin: 0;
        color: #dc3545;
    }

    .error-message {
        font-size: 24px;
        color: #6c757d;
        margin-top: 10px;
    }

    .error-image {
        width: 300px;
        max-width: 100%;
        margin-top: 20px;
    }

    .back-btn {
        margin-top: 20px;
    }
</style>