html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-img-custom {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.dish-img{
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.order-status-badge {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: bold;
    width: fit-content;
}

.order-status-pending {
    background-color: #ffc107;
    color: #000;
}

.order-status-cooking {
    background-color: #17a2b8;
    color: #fff;
}

.order-status-readyforpickup {
    background-color: #28a745;
    color: #fff;
}

.order-status-ontheway {
    background-color: #007bff;
    color: #fff;
}

.order-status-delivered {
    background-color: #198754;
    color: #fff;
}

.order-status-cancelledbycustomer,
.order-status-cancelledbyrestaurant,
.order-status-returnedtorestaurant {
    background-color: #dc3545;
    color: #fff;
}