@using FoodDeliveryNetwork.Data.Models;
@using FoodDeliveryNetwork.Web.ViewModels.Admin;

@model SingleApplicationViewModel

<div class="card mb-2">
    <div class="card-header">
        Application @Model.Id
    </div>
    <div class="card-body">
        <div class="row mx-1">
            <div class="col">
                <div class="row">
                    Company name: @Model.CompanyName
                </div>
                <div class="row">
                    Owner name: @Model.OwnerFullName
                </div>
                <div class="row">
                    Created on: @Model.CreatedOn
                </div>
            </div>
        </div>
        <div class="col-md-12 clearfix">
            <a href="/Admin/Admin/Details/@Model.Id" class="btn btn-outline-primary float-end mx-1">Details</a>
        </div>
    </div>
</div>